* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #7ee8fa, #eec0c6);
  display: flex;
  flex-wrap: wrap;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header h1 {
  font-size: 2rem;
  margin: 20px;
  background: linear-gradient(45deg, blue, red);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header p {
  font-size: 1.5rem;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

img {
  width: 150px;
  height: 150px;
  margin-top: 10px;
}

.left {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 300px;
}

.right {
  top: 0;
  right: 0;
  position: fixed;
  margin-right: 300px;
}

.add {
  background-color: #ffc312;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 0.6rem 2rem;
  position: fixed;
  top: 20px;
  cursor: pointer;
  right: 20px;
}

.note {
  margin: 40px;
  width: 230px;
  height: 230px;
  background-color: #fff;
  overflow: hidden;
}

.tools {
  background-color: #ffc312;
  padding: 0.5rem;
  justify-content: flex-end;
  display: flex;
}

.tools button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 5px;
}

.tools .liked {
  border: none;
  background: none;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.main {
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
}

textarea {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.tools .like {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  transition: 0.3s ease-in-out;
}

.tools .liked {
  color: red;
}

@media (max-width: 1500px) {
  .left,
  .right {
    display: none;
  }

  .header h1 {
    margin-top: 40px;
  }

  .header p {
    margin-top: 40px;
  }

  .add {
    top: 10px;
    right: 10px;
    padding: 0.4rem 1.5rem;
  }

  .note {
    margin: 10px;
    width: calc(100% - 20px);
    height: auto;
  }
}
